@model Cutting_edge_webapp.Models.DropCascadeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drop cascade</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Street cascade selector</legend>

        @Html.Label("Country: ") 
        @Html.DropDownListFor(model => model.SelectedCountryID, ViewBag.Countries as SelectList, "Select country", new { id = "Country" })<br />
        @Html.Label("City: ")
        @Html.DropDownListFor(model => model.SelectedCityID, Enumerable.Empty<SelectListItem>(), "Select city", new { id = "City" })<br />
        @Html.Label("Street: ")
        @Html.DropDownListFor(model => model.SelectedStreetID, Enumerable.Empty<SelectListItem>(), "Select street", new { id = "Street" })<br />
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@Scripts.Render("~/bundles/jquery")
<script type="text/jscript">
    //Data loading for city dropdownlist
    $(function () {
        $('#Country').change(function () {
            $.getJSON('/api/WebAPI/GetCityListByCountryID/' + $('#Country').val(), function (data) {
                var items = '<option>Select city</option>';
                $.each(data, function (i, city) {
                    items += "<option value='" + city.Value + "'>" + city.Text + "</option>";
                });
                $('#City').html(items);
            });
            var items = '<option>Select city</option>';
            $('#Street').html(items);
        });
    });
    //Data loading for city dropdownlist
    $(function () {
        $('#City').change(function () {
            $.getJSON('/api/WebAPI/GetStreetListByCityID/' + $('#City').val(), function (data) {
                var items = '<option>Select street</option>';
                $.each(data, function (i, city) {
                    items += "<option value='" + city.Value + "'>" + city.Text + "</option>";
                });
                $('#Street').html(items);
            });
        });
    });
</script>
