@model IEnumerable<Cutting_edge_webapp.Models.DropCascade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drop cascade</h2>

@Html.Label("Country: ")  @Html.DropDownList("Country", ViewBag.Countries as SelectList, "Select country", new { id = "Country" })<br />
@Html.Label("City")
<select id="City" name="City"></select>
@Html.ValidationMessage("City", "*")
<br />
<br />
<p>
    <input type="submit" value="Create" id="SubmitId" />
</p>

@Scripts.Render("~/bundles/jquery")
@*Data loading for city dropdownlist*@
<script type="text/jscript">
    $(function () {
        $('#Country').change(function () {
            $.getJSON('/City/ListByCountry/' + $('#Country').val(), function (data) {
                var items = '<option>Select city</option>';
                $.each(data, function (i, city) {
                    items += "<option value='" + city.Value + "'>" + city.Text + "</option>";
                });
                $('#City').html(items);
            });
        });
    });
</script>
