<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        function CheckForLoadEvent() {
            if (window.ExecuteOnLoad != null)
                window.ExecuteOnLoad();
        }
    </script>
</head>
<body onload="CheckForLoadEvent()">
    <header>
        <a href="/">Home</a>
        <a href="/Country/">Countries</a>
        <a href="/City/">Cities</a>
        <a href="/Street/">Streets</a>
        <a href="/DropCascade/">Drop cascade street selector</a>
    </header>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
